#========================================================================
# * OS files
#========================================================================
.DS_Store
Thumbs.db

#========================================================================
# * Logs
#========================================================================
logs/*.log

#========================================================================
# * IDE / Editor
#========================================================================
.vscode/
.idea/
*.swp
*.swo

#========================================================================
# * node_modules folder
#========================================================================
node_modules/

#========================================================================
# * bin folder
#========================================================================
bin/*.o
bin/*.out

#========================================================================
# * system files
#========================================================================
*.log~
*.swp

#========================================================================
# * Python caches
#========================================================================
__pycache__/
*.pyc

#========================================================================
# * lib folder
#========================================================================
lib/